body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
main {
    display: flex;
    padding: 0.3125em;
}
section {
    width: 45%;
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
}
.people {
    display: flex;
}
.people div {
    padding: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img {
    border-radius: 50%;
}