body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.container {
    text-align: center;
    padding: 3.125em;
}
#inputCurrentFrequency {
    width: 80px;
    text-align: center;
    margin-bottom: 10px;
}
#rangeFrequencies {
    width: 300px;
    margin-bottom: 10px;
}